table{
	width: 100%;
}

.theme--light.v-toolbar.tabletoolbar {
	background-color: white !important;
}

.theme--dark.v-toolbar.tabletoolbar {
	background-color: #424242 !important;
}

.fade-enter-active,
.fade-leave-active {
	transition-duration: 0.1s;
	transition-property: opacity;
	transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
	opacity: 0
}

@media print {
	.container.fluid {
		padding: 0;
		margin: 0;
	}

	.v-toolbar {
		display: none;
	}

	.v-datatable__actions {
		height: 0;
		visibility: hidden;
	}

	span {
		display: none;
	}
}
