<template>
	<div>
		<h1>Create Employee</h1>
		<form v-on:submit.prevent="createEmployee">
			<div class="form-group">
				<label for="create-id">Id</label>
				<input type="number" class="form-control" id="create-id" v-model.number="employee.id" required />
			</div>
			<div class="form-group">
				<label for="create-name">Name</label>
				<input class="form-control" id="create-name" v-model="employee.name" required />
			</div>
			<div class="form-group">
				<label for="create-roll">Role</label>
				<input class="form-control" id="create-role" v-model="employee.role" required />
			</div>
			<div class="form-group">
				<label for="create-skill">Skill</label>
				<input class="form-control" id="create-skill" v-model="employee.skill" required />
			</div>
			<button type="submit" class="btn btn-primary">Create</button>
			<router-link to="/fetchemployee">
				<a class="btn btn-default">Cancel</a>
			</router-link>
		</form>
	</div>
</template>

<script src="./createemployee.ts"></script>
